doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
        style
            include ../public/stylesheets/w3.css

    body
        .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
            h5.my-0.mr-md-auto Auction
        .container
            .py-5.text-center
                h2 Добро пожаловать, #{name}
            .row
                .col-6
                    img.img-thumbnail#picture(src=picture)
                    hr
                    div.w3-card-2.w3-center.w3-text-black.sold="Ставка на торгах: " + "-" + " $"
                    br
                    div.w3-card-2.w3-center.w3-text-black.sold="Наша ставка: " + "-" +" $"
                    br
                    div.w3-card-2.w3-center.w3-text-black.sold="Запас денег: " + cash + " $"
                    hr
                    form#messForm
                        .row
                            .col-2
                                input.btn.btn-success(type='button' onclick="add100()" value='+100$')
                            .col-3
                                input.btn.btn-success(type='button' onclick="add500()" value='+500$')
                            .col-4
                                input.btn.btn-danger(type='button' onclick="addAllIn()" value='ВСЕ ЧТО ЕСТЬ!')
                .col-6
                    h3 Сообщения
                    #all_mess
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        script
            include ../public/javascripts/sockets.js


